<body  class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
<!-- begin:: Page -->

<!--<script type="text/javascript">-->
<!--    var $jk = jQuery.noConflict();-->
<!--</script>-->

<div class="m-grid m-grid--hor m-grid--root m-page">
  <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-1" id="m_login" style="background-image: url(assets/app/media/img//bg/bg-7.jpg);">
    <div class="m-grid__item m-grid__item--fluid m-login__wrapper">
      <div class="m-login__container">
        <div class="m-login__logo">
          <a href="<%=root_url %>">
            <img src="assets/app/media/img//logos/logo-1.png">
          </a>
        </div>
        <div class="m-login__signin">
          <div class="m-login__head">
            <h3 class="m-login__title">
              Sign In To My Blog
            </h3>
          </div>
          <form class="m-login__form m-form" action="">



          </form>

          <%= form_with model: @session, url: sessions_path , class: 'm-login__form m-form',local: true do |form| %>
<!--          <form class="m-login__form m-form" action="">-->

            <div class="form-group m-form__group">
              <span class = "text text-danger" id=”alert”><%= alert %></span>
            </div>

            <div class="form-group m-form__group">
              <%=form.text_field :email, class: 'form-control m-input',placeholder:"Email" %>
<!--                            <input class="form-control m-input" type="text" placeholder="Email" name="user[email]" required="">-->
            </div>
            <div class="form-group m-form__group">
              <%=form.password_field :password, class: 'form-control m-input',placeholder:"Password" %>
            </div>

<!--            <div class="form-group m-form__group">-->
              <%#=text_field_tag :email, class: 'form-control m-input', placeholder: 'Email' %>
<!--              <input class="form-control m-input" type="email" name="email" placeholder="Email" required="" >-->
<!--            </div>-->
<!--            <div class="form-group m-form__group">-->
<!--              <input class="form-control m-input m-login__form-input--last" type="password"  name="password" required="" placeholder="Password">-->
<!--            </div>-->
<!--            <div class="row m-login__form-sub">-->
<!--            <div class="col m&#45;&#45;align-left m-login__form-left">-->
<!--            <label class="m-checkbox  m-checkbox&#45;&#45;light">-->
<!--            <input type="checkbox" name="remember">-->
<!--            Remember me-->
<!--            <span></span>-->
<!--            </label>-->
<!--            </div>-->
<!--            </div>-->
            <!--<div class="col m&#45;&#45;align-right m-login__form-right">-->
            <!--<a href="forget_password.html" class="m-link">-->
            <!--Forget Password ?-->
            <!--</a>-->
            <!--</div>-->
            <!--</div>-->
            <div class="m-login__form-action">
              <%= form.submit 'Sign In',class: "btn m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary" %>
<!--              <button type="submit" name="commit" value="Sign in" data-disable-with="Sign in" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn m-login__btn--primary">-->
<!--                Sign In-->
<!--              </button>-->
            </div>

<!--          </form>-->
          <%end %>
        </div>
        <div class="m-login__account">
							<span class="m-login__account-msg">
								Don't have an account yet ?
							</span>
          &nbsp;&nbsp;
          <a href="<%=signup_path %>" class="m-link m-link--light m-login__account-link">
            Sign Up
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<script type="text/javascript">-->
<!--    $(document).ready(function () {-->
<!--        $("#sign_in_form").validate();-->
<!--    });-->
<!--</script>-->


</body>