<!--   header section-->
<section id="section-services" class="section pad-bot30 bg-white">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <a href="<%=root_path %>">
          <h1>My Blog</h1></a>
        <h6><span class="label label-info">Logged in as <%= current_user.email %> </span></h6>
        <!--          <img class="navbar-logo" src="img/logo.png" alt="Vector Logo" style="width: 35%">-->
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-8">
            <!--              <a class="btn btn-default" href="Logged in as admin@gamil.com"> Logged in as admin@gamil.com </a>-->
            <a class="btn btn-default" href="<%=new_user_article_path(current_user) %>"> + Create Article</a>
            <a class="btn btn-default" href="<%=root_path %>"> Home</a>
            <a class="btn btn-default" href="<%=user_path(current_user) %>"> Profile </a>
            <% if current_user.role == "admin" %>
              <a class="btn btn-default" href="<%=users_path %>"> Admin Panel </a>
            <%end %>
            <a class="btn btn-default" href="<%=logout_path %>"> Log Out </a>
          </div>
          <!--            Search Begin-->
          <div class="col-md-4">
            <%= form_tag(root_url, method: :get, html: {class: 'form-search'}) do %>
              <form class="form-search">

                <div class="form-group">
                  <%= text_field_tag :search, params[:search],class: 'form-control', placeholder: 'Search Articles', value: '' %>
                  <%#= submit_tag name: nil,class: 'btn btn-primary' %>
                  <button type="submit" class="btn btn-primary">
                    <i class="fa fa-search"></i>
                  </button>

                </div>
              </form>
            <%end %>
          </div>
          <!--            Search End-->
        </div>
      </div>
      <!--        <div class="col-md-12">-->
      <!--          <a href="create_article.html" class="btn btn-success">+ Create Article</a>-->
      <!--        </div>-->
    </div>
  </div>
</section>

<!-- section works -->
<section id="section-works" class="section appear clearfix">
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
<!--        <div class="page-header">-->
          <h3>Create Article Here</h3>
<!--        </div>-->
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <%= form_with scope: :article, url: user_articles_path,id: 'create_article' ,local: true do |form| %>

          <div class="form-group">

            <% if @article.errors.any? %>
              <div id="error_explanation">

                <% @article.errors.full_messages.each do |msg| %>
                  <p class = "text text-danger">*&nbsp<%= msg %></p>
                <% end %>

              </div>
            <%end %>
          </div>

          <%= form.label :title %>
        <div class="form-group">
          <%= form.text_field :title, class: 'form-control', id: "title",  placeholder: "Enter your title here", required: true %>

          <!--          <input type="text" class="form-control" id="title" name="article[title]" placeholder="Enter your title here" required="">-->
        </div>
          <%= form.label 'Tags' %>
          <div class="form-group">
          <%= form.text_field :all_tags,class: 'form-control', placeholder: "Tags separated with comma" %>
          </div>

        <div class="row">
          <div class="col-lg-12">
            <label>Content</label>
          </div>
        </div>

        <div id="content-row">
          <div class="form-group">
            <%= form.text_area :text, id: "code_preview0",class: 'form-control', style: "height: 300px;" %>

            <!--            <textarea class="form-control" id="code_preview0" name="article[text]" style="height: 300px;"></textarea>-->
          </div>
        </div>

          <%= form.label 'Cover Photo' %><p>
        <%= form.file_field :image, onchange: 'validateFiles(this);',data: { max_file_size: 5.megabytes }, required: true %>
      </p>

          <p>
            <%= form.submit 'Submit', class: "btn btn-success" %>
            <%= link_to 'Cancel',user_articles_path, class: 'btn btn-danger' %>
          </p>

      </div>
<%end %>
    </div>
  </div>
</section>

<!--<script type="text/javascript">-->
<!--    $(document).ready(function () {-->
<!--        $("#create_article").validate();-->
<!--    });-->
<!--</script>-->