<%if current_user %>
  <div class="container">
    <div class="page-header">
      <h1>Articles</h1>
    </div>
  </div>
  <div class="container">
    <span class="label label-primary"> Logged in as <%= current_user.email %></span>
    <%= link_to 'Log Out', logout_path, class: 'btn btn-danger btn-xs' %>

    <p>
      <br><br>
      <%= link_to new_user_article_path(current_user), class: 'btn btn-primary text-uppercase' do %>
        <i class="glyphicon glyphicon-plus"></i> Create Article
      <%end %>
    </p>
    <br>
  </div>
  <div class="container">
    <table class="table table-striped" >
      <thead>
      <tr>
        <th class="text-center">Title</th>
        <th class="text-center">Text</th>
        <th></th>
      </thead>
      <tbody>
      </tr>
      <% @user = User.find(params[:user_id])%>
      <% @user.articles.each do |article| %>
        <tr>
          <td ><%= article.title %></td>
          <td ><%= article.text %></td>
          <td ><%= link_to 'Show', [article.user, article], class: 'label label-info'%></td>
          <td ><%= link_to 'Edit', edit_user_article_path(@user,article), class: 'label label-success'%></td>
          <td ><%= link_to 'Delete', [article.user, article],
                           method: :delete,
                           data: { confirm: 'Are you sure?' }, class: 'label label-danger' %></td>

        </tr>
      <% end %>
      </tbody>
    </table>

  </div>
  <br>
  <div class="container">
    <%= link_to 'Profile', user_path(@user),class: 'btn btn-primary btn-xs' %>
    <%= link_to 'Home', root_url ,class: 'btn btn-info btn-xs'%>
  </div>
<%end %>