<body  class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">
  <!-- BEGIN: Header -->
  <header id="m_header" class="m-grid__item    m-header "  m-minimize-offset="200" m-minimize-mobile-offset="200" >
    <div class="m-container m-container--fluid m-container--full-height">
      <div class="m-stack m-stack--ver m-stack--desktop">
        <!-- BEGIN: Brand -->
        <div class="m-stack__item m-brand  m-brand--skin-dark ">
          <div class="m-stack m-stack--ver m-stack--general">
<!--            <div class="m-stack__item m-stack__item--middle m-brand__logo">-->
<!--              <a href="<%#=root_url %>" class="m-brand__logo-wrapper">-->
<!--                <img alt="" src="/assets/demo/default/media/img/logo/logo_default_dark.png"/>-->
<!--              </a>-->
<!--            </div>-->
            <div class="m-stack__item m-stack__item--middle m-brand__tools">
              <!-- BEGIN: Left Aside Minimize Toggle -->
              <a href="javascript:;" id="m_aside_left_minimize_toggle"
                 class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-desktop-inline-block">
                <span></span>
              </a>
              <!-- END -->
              <!-- BEGIN: Responsive Aside Left Menu Toggler -->
              <a href="javascript:;" id="m_aside_left_offcanvas_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-tablet-and-mobile-inline-block">
                <span></span>
              </a>
              <!-- END -->
              <!-- BEGIN: Responsive Header Menu Toggler -->
              <a id="m_aside_header_menu_mobile_toggle" href="javascript:;" class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
                <span></span>
              </a>
              <!-- END -->
              <!-- BEGIN: Topbar Toggler -->
              <a id="m_aside_header_topbar_mobile_toggle" href="javascript:;" class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
                <i class="flaticon-more"></i>
              </a>
              <!-- BEGIN: Topbar Toggler -->
            </div>
          </div>
        </div>
        <!-- END: Brand -->
        <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
          <!-- BEGIN: Horizontal Menu -->
          <button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-dark " id="m_aside_header_menu_mobile_close_btn">
            <i class="la la-close"></i>
          </button>
          <!-- END: Horizontal Menu -->								<!-- BEGIN: Topbar -->
          <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general m-stack--fluid">
            <div class="m-stack__item m-topbar__nav-wrapper">
              <ul class="m-topbar__nav m-nav m-nav--inline">

<!--                Begin: Search-->
                <li class="m-nav__item m-dropdown m-dropdown--small m-dropdown--arrow m-dropdown--align-center m-dropdown--mobile-full-width m-dropdown--skin-light	m-list-search m-list-search--skin-light"
                    m-dropdown-toggle="click" id="m_quicksearch" m-quicksearch-mode="dropdown" m-dropdown-persistent="1">
                  <a href="#" class="m-nav__link m-dropdown__toggle">
                                        <span class="m-nav__link-icon">
                                            <i class="flaticon-search-1"></i>
                                        </span>
                  </a>

                  <div class="m-dropdown__wrapper">
                    <span class="m-dropdown__arrow m-dropdown__arrow--center"></span>
                    <div class="m-dropdown__inner ">
                      <div class="m-dropdown__header">

                        <%= form_tag(users_path, method: :get, html: {class: 'm-list-search__form'}) do %>

                          <form  class="m-list-search__form">

<!--                          <div class="m-list-search__form-wrapper">-->

<!--                                                        <span class="m-list-search__form-input-wrapper">-->

                                                          <%= text_field_tag :search, params[:search],class: 'm-list-search__form', placeholder: 'Search..', value: '', id: 'm_quicksearch_input', :size=>"13" %>
<!--                                                            <input id="m_quicksearch_input"  type="text" name="search" class="m-list-search__form-input" value="" placeholder="Search..." />-->
<!--                                                        </span>-->
<!--                            <span class="m-list-search__form-icon-close" id="m_quicksearch_close">-->
<!--                                                            <i class="la la-remove"></i>-->
<!--                                                        </span>-->
<!--                          </div>-->
                          </form>
                        <%end %>
                      </div>
<!--                      <div class="m-dropdown__body">-->
<!--                        <div class="m-dropdown__scrollable m-scrollable" data-scrollable="true" data-max-height="300" data-mobile-max-height="200">-->
<!--                          <div class="m-dropdown__content"></div>-->
<!--                        </div>-->
<!--                      </div>-->
                    </div>
                  </div>

                </li>
<!--End: Search-->


                <li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img  m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" m-dropdown-toggle="click">
                  <a href="#" class="m-nav__link m-dropdown__toggle">
												<span class="m-topbar__userpic">
													<img src="/assets/app/media/img/users/user4.jpg" class="m--img-rounded m--marginless m--img-centered" alt=""/>
												</span>
                    <span class="m-topbar__username m--hide">
													Nick
												</span>
                  </a>
                  <div class="m-dropdown__wrapper">
                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                    <div class="m-dropdown__inner">
                      <div class="m-dropdown__header m--align-center" style="background: url(/assets/app/media/img/misc/user_profile_bg.jpg); background-size: cover;">
                        <div class="m-card-user m-card-user--skin-dark">
                          <div class="m-card-user__pic">
                            <img src="/assets/app/media/img/users/user4.jpg" class="m--img-rounded m--marginless" alt=""/>
                          </div>
                          <div class="m-card-user__details">
																<span class="m-card-user__name m--font-weight-500">
																	<%= current_user.name %>
																</span>
                            <a class="m-card-user__email m--font-weight-300 m-link">
                              <%=current_user.email %>
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="m-dropdown__body">
                        <div class="m-dropdown__content">
                          <ul class="m-nav m-nav--skin-light">
                            <li class="m-nav__section m--hide">
																	<span class="m-nav__section-text">
																		Section
																	</span>
                            </li>
                            <li class="m-nav__item">
                              <a href="<%=root_url %>" class="m-nav__link">
                                <i class="m-nav__link-icon flaticon-profile-1"></i>
                                <span class="m-nav__link-title">
																			<span class="m-nav__link-wrap">
																				<span class="m-nav__link-text">
																					Home
																				</span>

																			</span>
																		</span>
                              </a>
                            </li>
                            <li class="m-nav__item">
                              <a href="<%=user_url(current_user) %>" class="m-nav__link">
                                <i class="m-nav__link-icon flaticon-share"></i>
                                <span class="m-nav__link-text">
																			My Profile
																		</span>
                              </a>
                            </li>
                            <li class="m-nav__item">
                              <a href="<%=user_articles_url(current_user) %>" class="m-nav__link">
                                <i class="m-nav__link-icon flaticon-chat-1"></i>
                                <span class="m-nav__link-text">
																			My Articles
																		</span>
                              </a>
                            </li>
<!--                            <li class="m-nav__separator m-nav__separator--fit"></li>-->
<!--                            <li class="m-nav__item">-->
<!--                              <a href="#" class="m-nav__link">-->
<!--                                <i class="m-nav__link-icon flaticon-info"></i>-->
<!--                                <span class="m-nav__link-text">-->
<!--																			FAQ-->
<!--																		</span>-->
<!--                              </a>-->
<!--                            </li>-->
<!--                            <li class="m-nav__item">-->
<!--                              <a href="#" class="m-nav__link">-->
<!--                                <i class="m-nav__link-icon flaticon-lifebuoy"></i>-->
<!--                                <span class="m-nav__link-text">-->
<!--																			Support-->
<!--																		</span>-->
<!--                              </a>-->
<!--                            </li>-->
                            <li class="m-nav__separator m-nav__separator--fit"></li>
                            <li class="m-nav__item">
                              <a href="<%= logout_url %>" class="btn m-btn--pill    btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder">
                                Logout
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- END: Topbar -->
        </div>
      </div>
    </div>
  </header>
  <!-- END: Header -->
  <!-- begin::Body -->
  <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
    <!-- BEGIN: Left Aside -->
    <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
      <i class="la la-close"></i>
    </button>
    <div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">
      <!-- BEGIN: Aside Menu -->
      <div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark "
           m-menu-vertical="1" m-menu-scrollable="0" m-menu-dropdown-timeout="500">
        <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">

          <li class="m-menu__section ">
            <h4 class="m-menu__section-text">
              Components
            </h4>
            <i class="m-menu__section-icon flaticon-more-v3"></i>
          </li>
          <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  m-menu-submenu-toggle="hover">
            <a  href="javascript:;" class="m-menu__link m-menu__toggle">
              <i class="m-menu__link-icon flaticon-users"></i>
              <span class="m-menu__link-text">
                                Users
                            </span>
              <i class="m-menu__ver-arrow la la-angle-right"></i>
            </a>
            <div class="m-menu__submenu ">
              <span class="m-menu__arrow"></span>
              <ul class="m-menu__subnav">
                <li class="m-menu__item " aria-haspopup="true" >
                  <a  href="<%=users_path %>" class="m-menu__link ">
                    <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                      <span></span>
                    </i>
                    <span class="m-menu__link-text">
                                            Users List
                                        </span>
                  </a>
                </li>
                <li class="m-menu__item " aria-haspopup="true" >
                  <a  href="<%=signup_url %>" class="m-menu__link ">
                    <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                      <span></span>
                    </i>
                    <span class="m-menu__link-text">
                                            New User
                                        </span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <!-- END: Aside Menu -->
    </div>
    <!-- END: Left Aside -->
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
      <!-- BEGIN: Subheader -->
      <div class="m-subheader ">
        <div class="d-flex align-items-center">
          <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
              Blog Users List
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
              <li class="m-nav__item m-nav__item--home">
                <a href="<%=root_url %>" class="m-nav__link m-nav__link--icon">
                  <i class="m-nav__link-icon la la-home"></i>
                </a>
              </li>
              <li class="m-nav__separator">
                -
              </li>
              <li class="m-nav__item">
                <a href="<%=users_url %>" class="m-nav__link">
                                    <span class="m-nav__link-text">
                                        Users List
                                    </span>
                </a>
              </li>
            </ul>
          </div>

        </div>
      </div>
      <!-- END: Subheader -->
      <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                  Users List
                </h3>
              </div>
            </div>
            <div class="m-portlet__head-tools">
              <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item">
                  <a href="<%= signup_path %>" class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--air">
                                        <span>
                                            <i class="la la-plus"></i>
                                            <span>
                                               Add New User
                                            </span>
                                        </span>
                  </a>
                </li>
                <li class="m-portlet__nav-item"></li>
              </ul>
            </div>
          </div>
          <div class="m-portlet__body">
            <!--begin: Datatable -->
            <%#if @user.search(params[:search]).count==0 %>
<!--              <h2 class="text-danger">No User Found!</h2>-->
              <%#else %>

            <table class="table table-striped- table-bordered table-hover table-checkable">
              <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Token-Status</th>
                <th>Token</th>
                <th class="text-center">
                  Actions
                </th>
              </tr>
              </thead>

              <% @user.search(params[:search]).each do |user| %>
              <tbody>
                <tr>
                  <td><%= user.id %></td>
                  <td><%= user.name %></td>
                  <td><%= user.email %></td>
                  <td><%= user.email_confirmed %></td>
                  <td><%= user.confirm_token %></td>

                  <td class="text-center">
                  <%= link_to 'View', user_path(user), class: 'btn btn-info btn-sm' %>
                    <span> &nbsp </span>

                  <%= link_to 'Destroy', user_path(user),
                                  method: :delete,
                                  data: { confirm: 'Are you sure?' },class: 'btn btn-danger btn-sm' %></td>



              </tr>

              </tbody>
              <% end %>
            </table>
              <%#end %>
          </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
      </div>
    </div>
  </div>
  <!-- end:: Body -->

  <!-- begin::Footer -->
  <footer class="m-grid__item		m-footer ">
    <div class="m-container m-container--fluid m-container--full-height m-page__container">
      <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
        <div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
                    <span class="m-footer__copyright">
                        2019 &copy; Blog by Ghayyur Ali
                    </span>
        </div>
      </div>
    </div>
  </footer>

  <!-- end::Footer -->
</div>
<!-- end:: Page -->
<!-- begin::Quick Sidebar -->
</body>